cryptography==42.0.5
Flask==2.3.2
pandas==2.0.3
python-dotenv==1.0.1
Requests==2.31.0
snowflake_connector_python==3.7.1
snowflake_sqlalchemy==1.5.1
SQLAlchemy==1.4.52
snowflake-connector-python[pandas]
gunicorn
